@model IEnumerable<PokerGame.Models.Card>


<table style="width:100%">
    <tr align="left">
        <td>
            <div class="row text-center" style="display: flex;flex-wrap: wrap;">
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 col-md-offset-1">
                    <img class="img-responsive" src="@Url.Content(Model.ElementAt(0).ImagePath)" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                    <img class="img-responsive" src="@Url.Content(Model.ElementAt(1).ImagePath)" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                    <img class="img-responsive" src="@Url.Content(Model.ElementAt(2).ImagePath)" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                    <img class="img-responsive" src="@Url.Content(Model.ElementAt(3).ImagePath)" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                    <img class="img-responsive" src="@Url.Content(Model.ElementAt(4).ImagePath)" />
                </div>
            </div>
        </td>
    </tr>
</table>